@namespace FloppyVPN
@using static FloppyVPN.Functions

@{
	ViewData["Title"] = "";
	string lang = GetCurrentLanguage(this);

}



<div class="window" style="margin: 32px; width: 250px; display: none; float: right;" id="cookie-alert-window">
	<div class="title-bar">
		<div class="title-bar-text">
			Cookie notice
		</div>
	</div>
	<div class="window-body">
		<p>This website uses cookies... To store your language preference and this cookie alert!</p>
		<button onclick="writeCookieAcknowledgement();"><b>OK</b></button>
	</div>
</div>

<br>
<h3 id="heading-text">
</h3>

<ul class="htext">
	<li id="feature1">@Loc.Get("feature1", lang)</li>
	<li id="feature2">@Loc.Get("feature2", lang)</li>
	<li id="feature10">@Loc.Get("feature10", lang)</li>
	<li id="feature3">@Loc.Get("feature3", lang)</li>
	<li id="feature4">@Loc.Get("feature4", lang)</li>
	<li id="feature5">@Loc.Get("feature5", lang)</li>
	<li id="feature6">@Loc.Get("feature6", lang)</li>
	<li id="feature7">@Loc.Get("feature7", lang)</li>
	<li id="feature8">@Loc.Get("feature8", lang)</li>
	<li id="feature9">@Loc.Get("feature9", lang)</li>
</ul>

<br>
<br>
<span class="htext" id="explaining-caption">
	@Loc.Get("", lang)
</span>


<h4>
	<span id="pricing-1">@Loc.Get("pricing-1", lang)</span>
	<span class="highlight" id="pricing-2">@Loc.Get("pricing-2", lang)</span>.
</h4>

<br>

<center>
	<table border="1" style="table-layout: fixed;">
		<tbody>
			<tr>
				<td style="text-align:center"><img src="http://2.bp.blogspot.com/_bgGfbhWKZyY/S_P0ydc_7yI/AAAAAAAAAXI/nHY8v1QqgTc/s320/1832floppy_disc.jpg"></td>
				<td style="text-align:center"><img src="https://i.pinimg.com/originals/87/87/a8/8787a8967850df18659d88c800d78ef5.jpg"></td>
				<td style="text-align:center"><img src="https://2.bp.blogspot.com/-cAf5zf6lLMo/V_tZ5PzjagI/AAAAAAAAAfU/GxaJw4UfM203mR7PJH629QnjVSeq2dB7wCLcB/s1600/floppy%2Bdisk.jpg"></td>
			</tr>
			<tr>
				<td style="text-align:center"><span class="htext">Windows 9+</span></td>
				<td style="text-align:center"><span class="htext">Android 7+</span></td>
				<td style="text-align:center"><span class="htext">Linux 5+</span></td>
			</tr>
			<tr>
				<td style="text-align:center"><a href="#"><button style="margin: 10px; padding: 6px;"><b id="download-windows">@Loc.Get("download-windows", lang)</b></button></a></td>
				<td style="text-align:center"><a href="#"><button style="margin: 10px; padding: 6px;"><b id="download-android">@Loc.Get("download-android", lang)</b></button></a></td>
				<td style="text-align:center"><a href="#"><button style="margin: 10px; padding: 6px;"><b id="download-linux">@Loc.Get("download-linux", lang)</b></button></a></td>
			</tr>

		</tbody>
	</table>
</center>

<br>
<br>
<span class="htext" id="devices-caption">
	@Loc.Get("devices-caption", lang)
</span>

<br>
<br>
<span class="htext" id="more-platforms-soon">
	@Loc.Get("more-platforms-soon", lang)
</span>
<br>
<br>

<ul class="htext">
	<span class="htext" id="whom-for">@Loc.Get("whom-for", lang)</span>
	<li id="whomfor1">@Loc.Get("whomfor1", lang)</li>
	<li id="whomfor2">@Loc.Get("whomfor2", lang)</li>
	<li id="whomfor3">@Loc.Get("whomfor3", lang)</li>
	<span class="htext" id="for-whom">@Loc.Get("for-whom", lang)</span>
</ul>

<br>

<br>




<script>
	function writeCookieAcknowledgement() {
		var element = document.getElementById("cookie-alert-window");
		if (element) {
			element.style.display = 'none';
		}
		setCookie("FloppyVPNcookieAcknowledged", "true", 365);
	}

	function checkCookieAcknowledgement() {
		var cookieValue = getCookie("FloppyVPNcookieAcknowledged");
		if (!cookieValue) {
			document.getElementById("cookie-alert-window").style.display = "block";
		}
	}

	window.onload = checkCookieAcknowledgement;
</script>
