@namespace FloppyVPN
@using static FloppyVPN._Functions

@{
	string currentController = (ViewContext.RouteData.Values["controller"] ?? "").ToString();
	string currentView = (Context.Request.Path != null) ? (Context.Request.Path) : "";
	string selectedLang = GetCurrentLanguage(this);

}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title> @(string.IsNullOrEmpty((ViewData["Title"] ?? "").ToString()) ? "FloppyVPN" : $"{ViewData["Title"]} | FloppyVPN)") </title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
	<header>
		<div class="container px-4">
			<div class="row gx-5">
				<div class="col" id="element2">
					<a href="/register"><button id="register-button">@Loc.Get("register-button", selectedLang)</button></a>
					<button id="logout-button" style="display: none" onclick="window.location='/';">@Loc.Get("logout-button", selectedLang)</button>
					<a href="/login"><button id="login-button">@Loc.Get("login-button", selectedLang)</button></a>

				</div>

				<div class="col" id="element1">
					<a href="/" class="plain-link"><span style="font-family: Tahoma,sans; font-size: 23px; font-weight: bold" id="website-title">@Loc.Get("website-title", selectedLang)</span></a>
				</div>

				<div class="col" id="element3">

					<form method="post">
						<label for="language" id="language-label">Language: </label>
						<select id="language" name="language" onchange="this.form.submit()">
						@{
							<option value="en" selected="@(selectedLang == "en")">English</option>
							<option value="ru" selected="@(selectedLang == "ru")">Русский</option>
							<option value="uk" selected="@(selectedLang == "uk")">Українська</option>
							<option value="ja" selected="@(selectedLang == "ja")">日本語</option>
						}
						</select>
						@{
							// Handle language change and set cookie
							if (Context.Request.Method == "POST")
							{
								var _selectedLang = Context.Request.Form["language"];
								WriteCookie(this, "language", _selectedLang);
								// Redirect to refresh page with the new language parameter
								string? langParam = "?lang=" + _selectedLang;
								string? paramUrl = Url.Action(null, null, new { lang = _selectedLang });
								Context.Response.Redirect(paramUrl);
							}
						}
					</form>

				</div>
			</div>

			<hr />
			<br />

		</div>
	</header>



	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>



	<footer class="border-top footer text-muted">
		<div class="container">
			<br />

			<span class="htext">© <a href="https://otso.software" target="_blank">OtsoSoftware</a>, 2024-2001.</span>
			<div>
				<a href="/support" id="support-button">Get support</a>
				<span>    </span>
				<a class="button" href="https://github.com/gaponovoz/FloppyVPN" target="_blank">Github</a>
			</div>
		</div>
	</footer>


	
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	@await RenderSectionAsync("Scripts", required: false)


</body>
</html>
