@namespace FloppyVPN
@using static _Functions

@model ErrorViewModel
@{
	string lang = GetCurrentLanguage(this);
	ViewData["Title"] = Loc.Get("title_error", lang);
}

<center>
	<br />

	<div class="window" style="margin: 32px; width: 250px">
		<div class="title-bar">
			<div class="title-bar-text">
				@Loc.Get("title_error", lang) @Model.ErrorCode
			</div>
		</div>
		<div class="window-body">
			@{
				if (!string.IsNullOrEmpty(Model.ErrorMessage))
				{
					<p>@Model.ErrorMessage</p>
				}
				else if (Model.ErrorCode == 404)
				{
					<p>@Loc.Get($"error-404", lang)</p>
				}
				else if (Model.ErrorCode == 503)
				{
					<p>@Loc.Get($"error-503", lang)</p>
				}
				else
				{
					<p>@Loc.Get($"error-404", lang)</p>
				}
			}


			<button onclick="history.back();" id="go-back-button">Go back</button>
		</div>
	</div>

	<br />

	<img src="~/imgs/error.gif" />

</center>