@namespace FloppyVPN
@using static FloppyVPN._Functions

@{
	string lang = GetCurrentLanguage(this);
	ViewData["Title"] = Loc.Get("login_title", lang);
}



<h3 id="login-page-heading">@Loc.Get("login-page-heading", lang)</h3>

<br>
<div class="htext">
	<span class="htext" id="login-field-caption">
		@Loc.Get("login-field-caption", lang)
	</span>

	@if (TempData["Message"] != null)
	{
		<br />
		<p class="highlight_red">@TempData["Message"]</p>
	}

	<form asp-controller="Account" asp-action="PerformLogin" method="post">
		<input type="password" name="user_login">
		<button type="submit" id="login-button">
			<b>@Loc.Get("login-button", lang)</b>
		</button>
	</form>
</div>

<br /><br />

<span class="htext" id="register-proposal">
	@Loc.Get("register-proposal", lang)
</span>

<a href="/register" id="register-button">
	<button>
		@Loc.Get("register-button", lang)
	</button>
</a>
